* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.logo > img {
  width: 50px;
}

/* Media Query for Mobile Devices */ 
@media (max-width: 767px) { 
  body { 
    display: flex;
    flex-direction: column;
    align-items: center;
    }
  .logo{
    display: flex;
    justify-content: center;
  }
  .navbar{
    width: 95%;
    margin-bottom: 5px;
    background-color: #60605c;
    color: #60605c;
  }
  .hamburger{
    display: flex;
    justify-content: right;
    color: white;
    background-color: #60605c;
  }
  .menu{
    display: none;
  }
  .product{
    border-style: solid;
    border-width: thin;
    text-align: center;
  }
  .social{
    list-style-type: none;
    padding: 0;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
} 
        
/* Media Query for low resolution  Tablets, Ipads */ 
@media (min-width: 768px) and (max-width: 1024px) { 
  body { 
      display: flex;
      flex-direction: column;
      align-items: center; 
      }
  header{
    width: 75%;
    display: flex;
    justify-content: space-evenly;
  }
  .navbar{
    width: 95%;
    margin-bottom: 5px;
    background-color: #60605c;
    color: #60605c;
  }
  .hamburger{
    display: flex;
    justify-content: right;
    color: white;
    background-color: #60605c;
  }
  .menu{
    display: none;
    padding: 0;
  }
  .h2{
    display: flex;
    text-align: center;
  }
  .product{
    border-style: ridge;
    border-width: thin;
    border-radius: 1%;
    text-align: center;
    margin-bottom: 3px;
  }
  p{
    text-align: left;
  }
  footer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    padding-top: 5px;
    border-top-style: ridge;
  }
  .social{
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
        
/* Media Query for Large screens */ 
@media (min-width: 1025px) {
  header{
    width: 75%;
    display: flex;
    justify-content: space-evenly;
  }
  .navbar{
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 5px;
    background-color: #60605c;
    display: flex;
    justify-content: flex-end;
  }
  .hamburger{
    display: none;
  }
  .menu{
    list-style-type: none;
    width: 45%;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  main{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .product{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: ridge;
    border-width: thin;
    border-radius: 1%;
    margin-bottom: 3px;
  }
  footer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    padding-top: 5px;
    border-top-style: ridge;
  }
  .social{
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
} 
